@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@function weight($weight-name) {
    @return map-get($font-weights, $weight-name);
}

@mixin transition-ease {
    transition: all 0.5s;
}

@mixin desktop {
    @media (min-width: $desktop) {
        @content;
    }
}