// Primary Colors
$soft-blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);

// Neutral Colors
$main-bg: hsl(217, 54%, 11%);
$card-bg: hsl(216, 50%, 16%);
$line: hsl(215, 32%, 27%);
$white: hsl(0, 0%, 100%);

// Typography
$font-weights: (
    "light": 300,
    "regular": 400,
    "semi-bold": 600
);

// Width
$card-width: 325px;
$card-width-dt: 350px;
$card-padding: 24px;
$desktop: 50rem;