@import './resets';
@import './variables';

/*
@function weight($weight-name) {
    @return map-get($font-weights, $weight-name);
}

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin theme($light-theme: true) {
    @if $light-theme {
        background: lighten($primary-color, 100%);
        color: darken($text-color, 100%);
    }
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

body {
    background: $primary-color;
    color: $text-color;
}

.main {
    @include flexCenter(row);
    width: 80% - 40%;
    margin: 0 auto;

    #{&}__paragraph1 {
        font-weight: weight(bold);
        &:hover {
            color: pink;
        }
    }

    #{&}__paragraph2 {
        @extend .main__paragraph1;
        &:hover {
            color: $accent-color;
        }
    }

    @include mobile {
        flex-direction: column;
    }
}

.light {
    @include theme($light-theme: true);
}

@import 'config';
@import 'home';
@import 'menu';
@import 'about';
@import 'projects';
@import 'contact';
@import 'responsive';

body {
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1;
}

h1, h2, h3 {
    font-weight: 400;
}

a {
    color: set-text-color($primary-color);
    text-decoration: none;
}

.text-secondary {
    color: $secondary-color;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
    padding: 1rem;
}

main {
    height: 100%;
    width: 100%;
    .social-icons {
        position: fixed;
        bottom: 1rem;
        left: 1rem;
        a {
            padding: 0.4rem;
            @include transition-ease;
            &:hover {
                color: $secondary-color;
            }
        }
    }
}

footer {
    font-size: 1rem;
    position: fixed;
    bottom: 0.4rem;
    right: 1rem;
    text-align: right;
    padding: 1rem;
    color: set-text-color($primary-color);
}
*/

@mixin flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@function weight($weight-name) {
    @return map-get($font-weights, $weight-name);
}

@mixin transition-ease {
    transition: all 0.5s;
}

.main {
    @include flexCenter(column);
}

body {
    background: $main-bg;
    color: $soft-blue;
    height: 100vh;
    font-family: 'Outfit', sans-serif;
    line-height: 1;
    font-weight: weight("regular");
    @include flexCenter(row);
}

.card {
    height: auto;
    width: $card-width;
    margin: 0 auto;
    background-color: $card-bg;
    padding: $card-padding;
    border-radius: 15px;
    @include flexCenter(column);

    .nft-preview {
        position: relative;
        height: calc($card-width - 2*$card-padding);
        width: 100%;
        border-radius: 10px;
        overflow: hidden;

        &__image {
            height: calc($card-width - 2*$card-padding);
            width: 100%;
        }

        div {
            display: flex;
            position: absolute;

            top: 0;
            background-color: rgba($cyan, 0.3);
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: all 0.2s ease-in;
        }

        &:hover div {
            opacity: 1;
        }

        &__link {
            //@include transition-ease();
            @include flexCenter(row);
            width: 100%;
            height: 100%;
        }
    }

    .title-link {
        font-size: 18px;
        letter-spacing: 1px;
        color: $white;
        font-weight: weight("semi-bold");
        text-decoration: none;
        align-self: flex-start;
        margin: 25px 0;
        @include transition-ease();
        &:hover {
            color: $cyan;
        }
    }

    .body-copy {
        font-weight: weight("light");
        line-height: 1.5;
        margin: 0;
    }

    .info-container {
        @include flexCenter(row);
        width: 100%;
        justify-content: space-between;
        margin: 25px 0;
        .nft-price {
            display: flex;
            color: $cyan;
            p {
                font-weight: weight("semi-bold");
                margin-left: 8px;
            }
        }
        .time-left {
            display: flex;
            p {
                margin-left: 8px;
            }
        }
    }

    .break-line {
        height: 1px;
        width: 100%;
        background-color: $line;
        margin-bottom: 20px;
    }

    .author {
        width: 100%;
        margin-bottom: 8px;
        letter-spacing: 0.5px;
        @include flexCenter(row);
        justify-content: flex-start;

        &__avatar {
            height: 40px;
            width: 40px;
            border: 1.75px solid $white;
            border-radius: 35px;
            margin-right: 20px;
        }

        &__link {
            text-decoration: none;
            color: $white;
            @include transition-ease();
            &:hover {
                color: $cyan;
            }
        }
    }
}